:root{
  /*header*/
  --header-background: #FFFFFF;
  --header-hover-focus: #2196F3;
  --header-main: #212121;
  --header-main2:  #757575;
  /*hero*/
  --hero-background: #2F303A;
  --hero-title: #FFFFFF;
  /*section*/
  --section-background: #E5E5E5;
  --section-title: #212121;
  --section-text: #757575;




}

body {
  font-family: Roboto, sans-serif ;  
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ---------------------------HEADER-----------------------------*/

.header{
  background-color: var(--header-background);
}

.logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--header-hover-focus);
}

.logo-dark{
  color: var(--header-main);
}

.header-item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--header-second);
}

.header-link:hover,
.header-link:focus {

  color: var(--header-hover-focus) ;
}

.header-mail,
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--header-main2);
}

.header-mail:hover,
.header-mail:focus{
  color: var(--header-hover-focus);
}

.header-tel:hover,
.header-tel:focus{
  color: var(--header-hover-focus);
}

/*------------------Hero-----------------*/

.hero{
  background-color: var(--hero-background);
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-title);
}

.hero-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--hero-title);
}

.hero-btn{
  background-color: var(--header-hover-focus);
}
.hero-btn:hover,
.hero-btn:focus{
  background-color: var(--header-hover-focus)
}

/*---------------------section----------------*/

.section{
  background-color: var(--section-background);
}

.section-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--section-title);
}

.section-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--section-text);
}











